:local(.loading-screen-layout) {
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  // background: theme.$loading-screen-background;
}

:local(.bottom) {
  position: absolute;
  bottom: 5%;
  width: 100%;
  padding: 0 48px;
}
